.hidden {
    display: none !important;
}

.queue_entry > span:first-of-type {
    margin-left: 5px;
}

.media-container {
    display: inline-block;
    overflow: hidden;
}

.media-msg {
    max-width: 200px;
    max-height: 200px;
}

.image-msg {
    transition: 0.2s all;
    cursor: zoom-in;

    &:hover {
        transform: scale(1.25);
    }
}

.big-emote {
    max-width: 300px !important;
    max-height: 300px !important;
}

.gif-dialog {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 200px;
    height: 250px;

    .gif-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 200px;

        overflow: hidden;

        border: 1px dotted white;
    }

    button {
        border-style: solid;
        border-width: 1px;
        border-right: 3px;
        background-color: #ffffff;

        transition: border-width 0.1s;
        color: #000000;

        &:hover {
            border-width: 3px;
        }
    }

    .next-button {
        width: 100%;
        height: 25px;

        border-color: #fbff00;

        margin-bottom: 2px;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;

        width: 100%;
        height: 25px;

        button {
            width: 50%;
        }

        .cancel-button {
            border-color: #f36666;

            margin-right: 2px;
        }

        .confirm-button {
            border-color: #02fc00;
        }
    }
}

.image-preview {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: zoom-out;

    img {
        max-width: 80%;
        max-height: 80%;
    }
}

.gif-results-container {
    position: relative;

    width: 100%;
    height: 250px;
    overflow-y: scroll;

    margin-top: 5px;
    padding-top: 30px;

    button {
        position: absolute;

        right: 0;
        top: 0;

        width: 25px;
        height: 25px;

        color: #000000;
        background-color: #ffffff;
        border: 1px solid #ff7777;
        border-radius: 4px;

        transition: background-color 0.1s;
        transition: color 0.1s;

        &:hover {
            background-color: #ff7777;
            color: #000000;
        }
    }

    .gif-error-msg {
        border: 1px solid #ff7777;
        display: inline-block;
        padding: 5px 5px 5px 5px;
    }

    .results {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .gif-search-result {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 150px;
            height: 150px;

            margin-bottom: 5px;

            border: 2px solid #ffffff;
            border-radius: 4px;

            &:hover {
                cursor: pointer;
                border-color: #35d035;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
